# URL de conexión a PostgreSQL (por ejemplo Supabase)
POSTGRESQL_URL=postgresql://postgres.ncfyxipzevnvherjvndl:[PASSWORD]@aws-1-us-west-2.pooler.supabase.com:6543/postgres
                 
POSTGRESQL_SCHEMA=ecommerce

# URL de conexión a MongoDB Atlas
MONGODB_URL=mongodb+srv://usuario:password@cluster.mongodb.net/ecommify_analytics?retryWrites=true&w=majority
# Nombre opcional de base de datos en MongoDB (si no viene en la URL)
MONGODB_DB_NAME=ecommify_analytics_v1
